#screen-video{
    position: absolute;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    object-position: center;
    top: 0;
    left: 0;
    z-index: 1;
}

#kit-announce {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    /* Ensure it's above the video */
    text-align: center;
    /* Optional, in case you want to center the text inside the element */
    font-size: 3em;
}